footer {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footers-left {
  margin-left: 10%;
  width: 30%;
}

.footers-left > p {
  width: 100%;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 7%;
}

.serch {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: 11%;
}

.search-foot {
  height: 1.56rem;
  width: 100%;
}

.sign-up {
  padding: 2px 10px;
  background-color: black;
  border: solid;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 0.5rem;
  width: 50%;
  margin-right: 5%;
}

.sign-up:hover {
  opacity: 0.7;
}

.socials {
  padding: 10px 0;
  margin-left: 11%;
  display: flex;
  gap: 15px;
}
.socials a {
  color: #000;
}

.socials .fa {
  font-size: 1.56rem;
  padding: 5px;
}

.footer-center {
  width: 20%;
  user-select: none;
}

.care {
  width: 100%;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 9%;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-left: 11%;
}

.footer-links a {
  display: flex;
  text-decoration: none;
  font-size: 0.9rem;
  color: #000;
}

.footer-links a:hover {
  color: salmon;
  transition: color 0.8s ease;
}

.footer-right {
  width: 30%;
  margin-right: 10%;
}

.order-assistance {
  width: 100%;
  user-select: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 4%;
}

.footer__right__div {
  margin-left: 11%;
}

.btn {
  border: none;
  padding: 8px 15px;
  font-size: 1rem;
  margin-bottom: 4%;
  cursor: pointer;
  width: 100%;
  color: #333;
}

.btn:hover {
  background-color: #474747;
  color: #fff;
  transition: color 0.8s ease;
  transition: background-color 0.8s ease;
}

.accessibility {
  margin-top: 10px;
  user-select: none;
}

.accessibility > p {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.accessibility a {
  display: flex;
  text-decoration: none;
  font-size: 0.75rem;
  margin-top: 3%;
  color: #000;
}

.accessibility a:hover {
  color: salmon;
  transition: color 0.6s ease;
}

.subfooter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2%;
}

.bank {
  display: flex;
  justify-content: center;
  height: 15%;
  width: 15%;
  margin: 15px 0;
}

.bank > img {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 5px;
  width: 3.75rem;
  height: 2.5rem;
  background-color: #fff;
}

.bank > img:first-child {
  scale: 0.8;
}
